
@font-face {
    font-family: 'Zwizz-Bold';
    src: url('../../assets/fonts/Zwizz-Bold/Zwizz-Bold.eot?#iefix') format('embedded-opentype'),  url('../../assets/fonts/Zwizz-Bold/Zwizz-Bold.woff') format('woff'), url('../../assets/fonts/Zwizz-Bold/Zwizz-Bold.ttf')  format('truetype'), url('../../assets/fonts/Zwizz-Bold/Zwizz-Bold.svg#Zwizz-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Zwizz-Regular';
    src: url('../../assets/fonts/Zwizz-Regular/Zwizz-Regular.eot?#iefix') format('embedded-opentype'),  url('../../assets/fonts/Zwizz-Regular/Zwizz-Regular.woff') format('woff'), url('../../assets/fonts/Zwizz-Regular/Zwizz-Regular.ttf')  format('truetype'), url('../../assets/fonts/Zwizz-Regular/Zwizz-Regular.svg#Zwizz-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  .remove-padding{
      padding-right: 0px !important;
      padding-left: 0px !important;
  }
  .white-header{
      display: block;
  }
  .red-header{
    display: none;
}
  
.navbar-inverse{
    background-color: white !important;
    border: none !important;

}

.navbar-inverse .white-header>li>a{
    color: black !important;
   
}
a.active {
    background-color: white !important;
}
.logo{
    width: 100px;
    margin-top: 20px;
}
.white-header {
    width: 100%;
    text-align: center;}

    .navbar-nav > li {
        float: none;
        display: inline-block;
        font-family: 'Zwizz-Regular';
        font-weight: 500;
        line-height: 1.2;
        font-size: 13px;     
      }
      .white-header>li>a{
        padding: 20px 40px;
      }
      .red-header>li>a{
        padding: 20px 20px;
      }
      .navbar-brand{
          height: 30px;
          padding: 15px 70px;
      }
.red-header>li>a{
    color: white !important;
    font-family: 'Zwizz-Regular';
}
.red-header>li>a.active{
    background-color: #cd4c4c !important;
    font-family: 'Zwizz-Bold';
}
.white-header-back{
    background-color: #cd4c4c !important;
}
.little-right{
    padding-right: 20px !important;
}

      @media (max-width: 767px) {
        .navbar-brand{
            padding: 15px 20px;
        }.logo{
            margin-top: 0px;
            width: 80px;
        }
        .navbar-toggle {
            width: 50px !important;
            height: 50px !important;
            padding: 10px 9px !important;
            margin-top: 18px;
            border: 1px solid #c8012a;
        }
        .icon-bar{
            width: 30px !important;
            background-color: #c8012a !important;
            height: 4px !important;
        }
        .navbar-inverse{
            background-color: #c8012a;
        }
         .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
            background-color: white !important;
        }
        .white-header > li{
            text-align: left;
            display: block;
        }
        .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
            border-color: #c8012a;
            margin-top: 15px;
            background-color: rgba(200, 1, 42,0.9) ;
        }
        .navbar-inverse .navbar-nav>li>a{
            color: white !important;
        }
        .white-header>li>a.active {
          background-color: rgba(200, 1, 42,0.0) !important;
        }
      }

      @media (min-width: 768px) and (max-width:1023px) {
        .navbar-brand{
            padding: 15px 40px;
        }
        .logo{
            width: 70px;
            margin-top: 20px;
        }
        .white-header > li> a{
            padding: 20px 20px;
        }
      }

      @media (max-width: 1200px) and (min-width:1024px) {
        .logo{
            width: 80px;
            margin-top: 15px;
        }
      }