.headiing1 {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
  }
  .login
  {
      color:#c8012a;
  }
  .headiing2
  {
    height: 80%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;  
  }
  .Group_1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1366px;
    height: 768px;
    z-index: 27;
  }
  .Customer_Portal {
    font-size: 13px;
    font-family: "Zwizz";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    -moz-transform: matrix( 3.15417747942663,0,0,3.15417747942663,0,0);
    -webkit-transform: matrix( 3.15417747942663,0,0,3.15417747942663,0,0);
    -ms-transform: matrix( 3.15417747942663,0,0,3.15417747942663,0,0);
    position: absolute;
    left: 1119.048px;
    top: 109.749px;
    z-index: 26;
  }
  .Bandz_Terms___Conditions {
    font-size: 11px;
    font-family: "Zwizz";
    color: rgb(255, 255, 255);
    line-height: 1.625;
    text-align: justifyLeft;
    -moz-transform: matrix( 1.14215207247786,0,0,1.14340561483435,0,0);
    -webkit-transform: matrix( 1.14215207247786,0,0,1.14340561483435,0,0);
    -ms-transform: matrix( 1.14215207247786,0,0,1.14340561483435,0,0);
    position: absolute;
    left: 1107.729px;
    top: 661.972px;
    z-index: 24;
  }
 
  
  .btn
  {
    color: black;
    line-height: 1.2;
    font-size: 20px;
    border-style: solid;
    background: transparent;
    border: 1px solid #c8012a;
    border-radius: 27px;
    width: 42%;
    font-size: 16px;
    font-family: 'Zwizz-Regular';
  }
  .textfields
  {
    font-family: 'Zwizz-Regular';
    color: #818181;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-bottom: 16px;
    width: 100%;
    text-align: center;
  }
  .UpdateButton
  {
    text-align: center;
  }
  .inputfields
  {
    width: 35%;
    margin: 41px auto;
  }
  #content h1
  {
    font-family: 'Zwizz-Bold';
      color: #c8012a;
      text-align: center;
  }
  #content p
  {
    font-family: 'Zwizz-Regular';
  }

@media only screen and  (max-width:640px) {

  .btn
  {
    width: 55%;
  }
}

@media only screen and (min-width: 641px) and (max-width:767px) {
    .nn-content-centered {
        width: 80%;
    }
    .nn-sign-in-heading{
        font-size: 35px;
    }
    .nn-below-heading-text{
        font-size: 20px;
    }
    .nn-terms-text-main{
    font-size: 12px;
    }

}
@media only screen and (min-width: 768px) and (max-width:991px) {
    .nn-content-centered {
        width: 80%;
    }
    .nn-sign-in-heading{
        font-size: 40px;
    }
    .nn-below-heading-text{
        font-size: 25px;
    }
    .terms-text-main{
    font-size: 12px;
    }

}