<div ng-include="app/header/header.template.html"></div>
<div class="container headiing1" *ngIf="Update">
    <div id="content">
    <h1> Password Updated !</h1>
    <p>Your password has been updated. <a class="login"href="http://localhost:3000/login">login</a> to access your account.</p>
</div>
  
  </div>


  <div class="container headiing2" *ngIf="forgot">
        <div id="content">
        <h1> Forgot Password !</h1>
        <p>A verification code has been sent to your email. Provide the code below to reset your password.</p>
        <div class="inputfields">
                <input type="text" class="textfields" placeholder="Verification Password">
                <input type="text" class="textfields" placeholder="New Password">
                <input type="text" class="textfields" placeholder="Retype Password">      
                </div>
                <div class="UpdateButton">
                <button class="btn">Update Button</button>    
                </div>
    </div>
     
      </div>

      <div class="container headiing2" *ngIf="forgotPassword">
            <div id="content">
            <h1> Forgot Password !</h1>
            <p>Enter email address linked with bandz account to reset your password.</p>
            <div class="inputfields">
                    <input type="email" class="textfields" placeholder="Email Addresss">
                      
                    </div>
                    <div class="UpdateButton">
                    <button class="btn">Verify my account</button>    
                    </div>
        </div>
         
          </div>